spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://localhost:3306/hello?useUnicode=true&characterEncoding=UTF8&serverTimezone=CTT
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      filters: stat
      maxActive: 20
      initial-size: 1
      max-wait: 60000
      minIdle: 1
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 300000
      validationQuery: select 'x'
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      poolPreParedStatements: true
      maxOpenPreparedStatements: 20
# security:
#   user:
#     password: hello
#     name: mldnjava
#     roles:
#     - USER
server:
  port: 8001

logging:
  level:
    com.hostqyh.mapper: debug
mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.hostqyh.mapper
  config-location: classpath:config/mybatis_config.xml
eureka:
  client:
    service-url:
      defaultZone: http://mldnjava:hello@eureka-7001.com:7001/eureka,http://mldnjava:hello@eureka-7002.com:7002/eureka,http://mldnjava:hello@eureka-7003.com:7003/eureka
  instance:
    instance-id: dept-8001.com
    prefer-ip-address: true
    lease-expiration-duration-in-seconds: 2
    lease-renewal-interval-in-seconds: 1
info:
  app.name: mldn-microcloud
  company.name: www.mldn.cn
  build.artifactId: $articleId$
  build.version: $version$
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream
---
spring:
  profiles: dev
  application:
    name: microcloud-provider-dept-config-dev
---
spring:
  application:
    name: microcloud-provider-dept-config-bate
  profiles: bate